<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login-用户登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 修正 CSS 路径：使用 Thymeleaf 动态路径 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    2025/04/06
                    <br />
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#" th:href="@{/emp/student}">学生管理系统</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami"></p>
            <h1>用户登录</h1>
            <!-- 修正表单提交路径：使用 Thymeleaf 动态路径 -->
            <form th:action="@{/login}" method="post">
                <table cellpadding="0" cellspacing="0" border="0" class="form_table">
                    <tr>
                        <td valign="middle" align="right">用户名:</td>
                        <td valign="middle" align="left">
                            <!-- 修正字段名：与 Controller 参数名一致 -->
                            <input type="text" class="inputgri" name="username" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">密码:</td>
                        <td valign="middle" align="left">
                            <input type="password" class="inputgri" name="password" />
                        </td>
                    </tr>
                </table>
                <p>
                    <input type="submit" class="button" value="登录 &raquo;" />
                    <!-- 修正注册按钮跳转路径：使用 Thymeleaf 动态路径 -->
                    <input type="button" class="button" th:onclick="'location.href=\'' + @{/regist} + '\''" value="注册 &raquo;" />
                </p>
                <!-- 显示错误信息 -->
                <div th:if="${error}" class="error" th:text="${error}"></div>
            </form>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">📞:12315</div>
    </div>
</div>
</body>
</html>